header {
  display: flex;
  background-color: teal;
}

#logout-form {
  margin-left: auto;
  padding: 8px;
}

.nav-links {
  background-color: orange;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-links li {
  float: left;
}

.nav-links li a {
  display: block;
  padding: 12px;
  color: darkslategrey;
}

.nav-links li a:hover {
  background-color: orangered;
}

.labeled-input label {
  display: block;
  margin-bottom: 5px;
}

.labeled-input input,
.labeled-input textarea,
.labeled-input select {
  width: 100%;
  max-width: 500px;
}

.labeled-input textarea {
  height: 100px;
  resize: vertical;
}

.labeled-input {
  margin-bottom: 15px;
}

#search {
  margin: 10px;
}

.search-no-results {
  color: #666;
}

.exercise-meta {
  color: #666;
  font-size: 0.9em;
  margin-left: 0.5em;
}
